.App {
  text-align: center;
  background: #ecfff1;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  font-size: 62.5%;
  background: #ecfff1;
}

.hidden{
  display: none;
}

